@for (card of cards(); track $index) {
    @if ($first) {
        <app-card></app-card>
    } @else {
        @if ($index < 5) {
            <app-card
                class="!absolute transition inset-0"
                [style.z-index]="-$index - 1"
                [style.--offset]="$index + 'px'"
                [style.--offset-multiplier]="offsetMultiplier()"
                [style.--orientation-offset-multiplier]="
                    offsetOrientationMultiplier()
                "
                [style.transform]="
                    'translate(calc(var(--offset) * var(--orientation-offset-multiplier)), calc(var(--offset) * var(--offset-multiplier)))'
                "
            />
        }
    }
}
<div class="text-center mt-2 text-xs">({{ nbCard() }})</div>
